<div th:replace="fragment/header::header"></div>
<div th:replace="fragment/navbar::navbar"></div>

<h1>Page Vehicules</h1>
	<!-- LISTE VEHICULE -->
<div id="table_vehicule">
	<table class="listeRead">
		<tr>
			<th>Id_Vehicule</th>
			<th>Marque</th>
			<th>Modele</th>
			<th>Couleur</th>
			<th>Immatriculation</th>
			<th>Modification</th>
			<th>Suppression</th>
		</tr>
		<tr th:each="vehicule:${allVehicules}">
			<td th:text="${vehicule.id}"></td>
			<td th:text="${vehicule.marque}"></td>
			<td th:text="${vehicule.modele}"></td>
			<td th:text="${vehicule.couleur}"></td>
			<td th:text="${vehicule.immatriculation}"></td>
			<td><a class="btn btn-info" th:href="@{/updateVehicule/{id}(id=${vehicule.id})}">
				<img th:src="@{/Paint_icon-icons.com_55521.png}">
			</a></td>
			<td><a class="btn btn-danger" onclick="return confirm('Attention supression définitive')" th:href="@{/deleteVehicule/{id}(id=${vehicule.id})}">
				<img th:src="@{/19384-bubka-TrashEmpty_vista.png}">
			</a></td>
		</tr>
	</table>
</div>
<!-- FORM VIDE AJOUT -->
<div th:object="${vehiAModif}" th:if="${vehiAModif} == null">
	<form class="form_user flex-col-center" method="post" th:action="@{/ajoutVehicule}">
		<input type="hidden" class="form-control" name="id">
		<div class="mb-3">
			<label class="form-label">Marque</label>
			<input type="text" class="form-control" name="marque">
		</div>
		<div class="mb-3">
			<label class="form-label">Modele</label>
			<input type="text" class="form-control"  name="modele">
		</div>
		<div class="mb-3">
			<label class="form-label">Couleur</label>
			<input type="text" class="form-control" name="couleur">
		</div>
		<div class="mb-3">
			<label class="form-label">Immatriculation</label>
			<input type="text" class="form-control"  name="immatriculation">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>
<!-- FORM PRE-REMPLI UPDATE -->
<div th:object="${vehiAModif}" th:if="${vehiAModif} != null">
	<form class="form_user flex-col-center" method="post" th:action="@{/updateVehicule}">
		<input type="hidden" class="form-control" name="id_vehicule" th:field="*{id}">
		<div class="mb-3">
			<label class="form-label">Marque</label>
			<input type="text" class="form-control" name="marque" th:field="*{marque}">
		</div>
		<div class="mb-3">
			<label class="form-label">Modele</label>
			<input type="text" class="form-control"  name="modele" th:field="*{modele}">
		</div>
		<div class="mb-3">
			<label class="form-label">Couleur</label>
			<input type="text" class="form-control" name="couleur" th:field="*{couleur}">
		</div>
		<div class="mb-3">
			<label class="form-label">Immatriculation</label>
			<input type="text" class="form-control"  name="immatriculation" th:field="*{immatriculation}">
		</div>
		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>
	
<div th:replace="fragment/footer::footer"></div>