<!-- LISTE VEHICULE -->
<div id="table_vehicule">
	<table class="listeRead">
		<tr>
			<th>Id_Vehicule</th>
			<th>Marque</th>
			<th>Modele</th>
			<th>Couleur</th>
			<th>Immatriculation</th>
			<th>Modification</th>
			<th>Suppression</th>
		</tr>
		<tr *ngFor="let vehicule of allVehicules">
			<td>{{vehicule.id}}</td>
			<td>{{vehicule.marque}}</td>
			<td>{{vehicule.modele}}</td>
			<td>{{vehicule.couleur}}</td>
			<td>{{vehicule.immatriculation}}</td>
			<td><a class="btn btn-info" href="">
				<img src="assets/img/Paint_icon-icons.com_55521.png">
			</a></td>
			<td>
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalSuppVehi" attr ="data-bs-target='#ModalSuppVehi'">
	 				<img src="assets/img/19384-bubka-TrashEmpty_vista.png">
				</button>
			</td>
        </tr>
        <!-- Modal Vehicule-->
        <div class="modal fade" id="ModalSuppVehi+${vehicule.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content modal-dark">
              <div class="modal-header">
                <h5 class="modal-title">Suppression Vehicule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Voulez-vous vraiment supprimer le vehicule: <span text="vehicule.toStringResume()"></span> ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger">
                        <a class="btn btn-danger" href=""> Valider la suppression</a>
                    </button>
              </div>
            </div>
          </div>
        </div> 
	</table>
</div>
