<!-- FORM VIDE AJOUT -->
<div object="vehiAModif" >
	<form class="formulaire flex-col-center" method="post" action="ajoutVehicule">
		<input type="hidden" class="form-control" name="id">
		<div class="mb-3">
			<label class="form-label">Marque</label>
			<input type="text" class="form-control" name="marque">
		</div>
		<div class="mb-3">
			<label class="form-label">Modele</label>
			<input type="text" class="form-control"  name="modele">
		</div>
		<div class="mb-3">
			<label class="form-label">Couleur</label>
			<input type="text" class="form-control" name="couleur">
		</div>
		<div class="mb-3">
			<label class="form-label">Immatriculation</label>
			<input type="text" class="form-control"  name="immatriculation">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>