<!-- FORM VIDE AJOUT -->
<div >
	<form (ngSubmit) = "onSubmit()" class="formulaire flex-col-center">
		<div class="mb-3">
			<label class="form-label">Marque</label>
			<input [(ngModel)]="vehiculeAAjouter.marque" type="text" class="form-control" name="marque">
		</div>
		<div class="mb-3">
			<label class="form-label">Modele</label>
			<input [(ngModel)]="vehiculeAAjouter.modele" type="text" class="form-control"  name="modele">
		</div> 
		<div class="mb-3">
			<label class="form-label">Couleur</label>
			<input [(ngModel)]="vehiculeAAjouter.couleur" type="text" class="form-control" name="couleur">
		</div>
		<div class="mb-3">
			<label class="form-label">Immatriculation</label>
			<input [(ngModel)]="vehiculeAAjouter.immatriculation" type="text" class="form-control"  name="immatriculation">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>