<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
{{title}}
<div class="flex-row" id="navbar_et_compte">
  <app-navbar></app-navbar>
  <app-compte></app-compte>
</div>
<div class="flex-row" id="side_et_contenu">
  <app-sidebar></app-sidebar>
  <app-content></app-content>
</div>
<div class="flex-row" >
  <app-footer></app-footer>
</div>



