LISTE ASSOCIATION
<div id="table_assoc">
	<table class="listeRead">
		<tr>
			<th>Id_Association</th>
			<th>Conducteur</th>
			<th>Vehicule</th>
			<th>Modification</th>
			<th>Suppression</th>
		</tr> 
		<tr *ngFor="let association of allAssociations">
			<td>{{association.id}}</td>
			<td>{{association.conducteur.prenom}} {{association.conducteur.nom}}+</td>
			<td>{{association.vehicule.marque}} {{association.vehicule.modele}} {{association.vehicule.couleur}} {{association.vehicule.immatriculation}}</td>
			<td><a class="btn btn-info" href="">
				<img src="assets/img/Paint_icon-icons.com_55521.png">
			</a></td> 
			<td>
				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalSuppAsso" attr ="data-bs-target='#ModalSuppAsso'+${association.id}">
	 				<img src="assets/img/19384-bubka-TrashEmpty_vista.png">
				</button>
			</td>
        </tr>
            <!-- Modal Associations-->
			<div class="modal fade" id="ModalSuppAsso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content modal-dark">
			      <div class="modal-header">
			        <h5 class="modal-title">Suppression Vehicule</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        <p>Voulez-vous vraiment supprimer l'association: <span text="association"></span> ?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
		       		 <button type="button" class="btn btn-danger">
			       		 <a class="btn btn-danger" href=""> Valider la suppression</a>
		       		 </button>
			      </div>
			    </div>
			  </div>
			</div>	
	</table>
</div> 
<p>Nombre Associations = {{allAssociations.length}} </p> 