<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="navbar-brand" href="@{/}">
            <img src="assets/img/carblueicon_98532.png" width="30" height="24">
          </a>
          <a class="nav-link" routerLink="pageConducteur">Conducteurs</a>
          <a class="nav-link" routerLink="pageVehicule">Vehicules</a>
          <a class="nav-link" routerLink="pageAssociation">Associations</a>
        </div>
      </div>
    </div>
</nav>
