<div th:replace="fragment/header::header"></div>
<div th:replace="fragment/navbar::navbar"></div>


<div id="table_conducteur">
	<table class="listeRead">
		<tr>
			<th>Id_Conducteur</th>
			<th>Prenom</th>
			<th>Nom</th>
			<th>Modification</th>
			<th>Suppression</th>
		</tr>
		<tr th:each="conducteur:${allConducteurs}">
			<td th:text="${conducteur.id_conducteur}"></td>
			<td th:text="${conducteur.prenom}"></td>
			<td th:text="${conducteur.nom}"></td>
			<td>
				<a class="btn btn-info" th:href="@{/updateConducteur/{id_conducteur}(id_conducteur=${conducteur.id_conducteur})}">
					<img src="Paint_icon-icons.com_55521.png" width="30px">
				</a>
			</td>
			<td>
				<a class="btn btn-danger" th:href="@{/deleteConducteur/{id_conducteur}(id_conducteur=${conducteur.id_conducteur})}">
					<img src="19384-bubka-TrashEmpty_vista.png" width="30px">
				</a>
			</td>
		</tr>
	</table>
</div>

<form class="form_conducteur flex-col-center" method="post" th:action="@{/ajoutConducteur}" th:object="${allConducteurs}">
    <input type="hidden" class="form-control"  name="id_conducteur">
  <div class="mb-3">
    <label class="form-label">Prenom</label>
    <input type="text" class="form-control"  name="prenom">
  </div>
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control"  name="nom">
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form> 

<!-- Pour le if sur le meme formulaire 
  <p th:if="${#fields.hasErrors('datePlanted')}" th:errors="*{datePlanted}">-->
  <!-- Prototypeform amélioré v1--> <!--
<form class="form_conducteur flex-col-center" method="post" th:action="@{/updateConducteur}" th:object="${allConducteurs}">
 <div class="mb-3">
    <input type="hidden" class="form-control" name="id_conducteur" th:field=*{id_conducteur}>
  </div>
  <div class="mb-3">
    <label class="form-label">Prenom</label>
    <input type="text" class="form-control"  name="prenom" th:field=*{prenom}>
  </div>
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control"  name="nom" th:field=*{nom}>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
-->
<!-- Prototypeform amélioré v2--> <!--
<form class="form_conducteur flex-col-center" method="post" th:action="@{/ajoutConducteur}" th:object="${allConducteurs}">
    <input type="hidden" class="form-control"  name="id_conducteur" th:if="${allConducteurs.isPresent()}" th:errors="${*{id_conducteur}">
  <div class="mb-3">
    <label class="form-label">Prenom</label>
    <input type="text" class="form-control"  name="prenom" th:if="${allConducteurs.isPresent()}" th:errors="${*{prenom}">
  </div>
  <div class="mb-3">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control"  name="nom" th:if="${allConducteurs.isPresent()}" th:errors="${*{nom}">
  </div>
  <button type="submit" class="btn btn-primary">Envoyer</button>
</form> 

<p>Nombre Conducteurs = <span th:text="${allConducteurs.size}"></span> </p> --> 

<div th:replace="fragment/footer::footer"></div>




