/* You can add global styles to this file, and also import other style files */
.test{
	background: red;
}
body{
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
    align-items: center;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-row-center{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-col-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulaire{
	margin: 5em 10em;
	padding: 5em;
	width: 40em;
	background: midnightblue;
    border: solid 3px white;
}
.listeRead{
	margin: 5em 10em;
	padding: 5em;
	width: 40em;
	background: midnightblue;
	text-align: center;
	border: solid 3px white;
}
.listeRead img{
	height: 30px;
}
.listeRead td{
	border-bottom: solid 1px white;
}
.modal-dark{
    background: black;
}
