<div th:replace="fragment/header::header"></div>
<div th:replace="fragment/navbar::navbar"></div>

<h1>Conducteur</h1>
	
	<!-- LISTE CONDUCTEUR -->
<div id="table_conducteur">
	<table class="listeRead">
		<tr>
			<th>Id_conducteur</th>
			<th>Prenom</th>
			<th>Nom</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
		<tr th:each="conducteur:${allConducteurs}">
			<td th:text="${conducteur.id_conducteur}"></td>
			<td th:text="${conducteur.prenom}"></td>
			<td th:text="${conducteur.nom}"></td>
			<td><a class="btn btn-info" th:href="@{/updateConducteur/{id}(id=${conducteur.id_conducteur})}">
				<img th:src="@{/Paint_icon-icons.com_55521.png}">
			</a></td>
			<td><a class="btn btn-danger" th:href="@{/deleteConducteur/{id}(id=${conducteur.id_conducteur})}">
				<img th:src="@{/19384-bubka-TrashEmpty_vista.png}">
			</a></td>
			<!-- 
				<div class="modal" tabindex="-1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title">Suppression Conducteur</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				        <p>Voulez-vous vraiment supprimer le conducteur: <span th:text="${conductASupp}"></span></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				        <button type="button" class="btn btn-warning">Valider la suppression</button>
				      </div>
				    </div>
				  </div>
				</div>  -->
		</tr>
	</table>
</div>
<!-- FORM VIDE AJOUT -->
<div  th:object="${unconducteur}" th:if="${unconducteur} == null">
	<form class="form_user flex-col-center" method="post" th:action="@{/ajoutConducteur}" th:object="${unconducteur}">
		<input type="hidden" class="form-control" name="id_conducteur">
		<!--th:field="*{id_conducteur}" th:errors="_"-->
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input type="text" class="form-control" name="nom">
		</div>
		<div class="mb-3">
			<label class="form-label">Prenom</label>
			<input type="text" class="form-control"  name="prenom">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>
<!-- FORM PRE-REMPLI UPDATE -->
<div  th:object="${unconducteur}" th:if="${unconducteur} != null">
	<form class="form_user flex-col-center" method="post" th:action="@{/ajoutConducteur}" th:object="${unconducteur}">
		<input type="text" class="form-control" name="id_conducteur" th:field="*{id_conducteur}">
		<!--th:field="*{id_conducteur}" th:errors="_" 
		 th:if="${unconducteur} != null" th:field="*{nom}-->
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input type="text" class="form-control" name="nom" th:field="*{nom}">
		</div>
		<div class="mb-3">
			<label class="form-label">Prenom</label>
			<input type="text" class="form-control"  name="prenom" th:field="*{prenom}">
		</div>
		<button type="submit" class="btn btn-primary">Modifier</button>
	</form>
</div>


<div th:replace="fragment/footer::footer"></div>