
<!-- FORM VIDE AJOUT -->
<div>
	<form class="formulaire flex-col-center" (ngSubmit) = "onSubmit()">
		<!-- <input type="hidden" class="form-control" name="id"> -->
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input [(ngModel)]="condAAjouter.nom" type="text" class="form-control" name="nom">
		</div>
		<div class="mb-3">
			<label class="form-label">Prenom</label>
			<input [(ngModel)]="condAAjouter.prenom" type="text" class="form-control"  name="prenom">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>
