<!-- FORM PRE REMPLI-->
<div>
	<form class="formulaire flex-col-center" method="post" action="ajoutAssociation" object="assocAModif">
		<div class="flex-row">
			<div class="flex-col">
				<label class="form-label">Conducteur</label>
			 	<select class="form-select" aria-label="Default select example" formControlName="conducteur">
				  	<option *ngFor="let condSansVehi of listeCondSansVehi" value="CondSansVehi.id">{{condSansVehi.nom}} {{condSansVehi.prenom}}</option>
				</select>
			</div>
			<div class="flex-col">
				<label class="form-label">Vehicule</label>
				 <select class="form-select" aria-label="Default select example" formControlName="vehicule">
				  	<option *ngFor="let vehiSansCond of listeVehiSansCond" value="vehicule.id">{{vehiSansCond.marque}} {{vehiSansCond.modele}} {{vehiSansCond.couleur}} {{vehiSansCond.immatriculation}}</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form> 
</div>