<!-- FORM PRE REMPLI -->
<div>
	<form class="formulaire flex-col-center" (ngSubmit) = "onSubmit()">
		<input [(ngModel)]="CondAModifier.id" type="hidden" class="form-control" name="id" [defaultValue]="CondAModifier.id">
		<div class="mb-3">
			<label class="form-label">Nom</label>
			<input [(ngModel)]="CondAModifier.nom" class="form-control" name="nom" [defaultValue]="CondAModifier.nom">
		</div>
		<div class="mb-3">
			<label class="form-label">Prenom</label>
			<input [(ngModel)]="CondAModifier.prenom" class="form-control"  name="prenom" [defaultValue]="CondAModifier.prenom">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>
