<!-- FORM PRE REMPLI -->
<div object="vehiAModif" >
	<form class="formulaire flex-col-center" method="post" action="">
		<input type="hidden" class="form-control" formControlName="id" [defaultValue]="vehiAModif.id">
		<div class="mb-3">
			<label class="form-label">Marque</label>
			<input type="text" class="form-control" formControlName="marque" [defaultValue]="vehiAModif.marque">
		</div>
		<div class="mb-3">
			<label class="form-label">Modele</label>
			<input type="text" class="form-control"  formControlName="modele" [defaultValue]="vehiAModif.modele">
		</div>
		<div class="mb-3">
			<label class="form-label">Couleur</label>
			<input type="text" class="form-control" formControlName="couleur" [defaultValue]="vehiAModif.couleur">
		</div>
		<div class="mb-3">
			<label class="form-label">Immatriculation</label>
			<input type="text" class="form-control"  formControlName="immatriculation" [defaultValue]="vehiAModif.immatriculation">
		</div>
		<button type="submit" class="btn btn-primary">Ajouter</button>
	</form>
</div>