<div th:replace="fragment/header::header"></div>
<div th:replace="fragment/navbar::navbar"></div>
<meta charset="UTF-8">
<h1>Associations</h1>
	
	<!-- LISTE ASSOCIATION -->
<div id="table_assoc">
	<table class="listeRead">
		<tr>
			<th>Id_Association</th>
			<th>Conducteur</th>
			<th>Vehicule</th>
			<!--<th>Modification</th> -->
			<th>Suppression</th>
		</tr> 
		<tr th:each="association:${allAssociations}">
			<td th:text="${association.id_association}"></td>
			<td th:each="cond:${allConducteurs}" 
				th:if="${cond.id_conducteur} == ${association.conducteur}"
				th:text="${cond.toStringResume()}">
			</td>
			<td th:each="veh:${allVehicules}" 
				th:if="${veh.id_vehicule} == ${association.vehicule}"
				th:text="${veh.toStringResume()}">
			</td>
			<!--
			<td th:text="${association.conducteur}"></td>
			<td th:text="${allConducteurs[__${association.conducteur}__].toStringResume()}"></td>
			<td th:text="${association.vehicule}"></td>
			<td th:text="${allVehicules[1].toStringResume()}"></td>
			<td th:text="${allVehicules.id_vehicule}"></td>
			<td th:text="${allVehicules}"></td>
			<td th:text="${allVehicules[__${association.vehicule}__].toStringResume()}"></td>-->
			<!--<td><a class="btn btn-info" th:href="@{/updateAssociation/{id}(id=${association.id_association})}">
				<img src="Paint_icon-icons.com_55521.png">
			</a></td> -->
			<td><a class="btn btn-danger" th:href="@{/deleteAssociation/{id}(id=${association.id_association})}">
				<img src="19384-bubka-TrashEmpty_vista.png">
			</a></td> 
		</tr>
	</table>
</div>
<!-- FORM VIDE AJOUT -->
<form class="form_user flex-col-center" method="post" th:action="@{/ajoutAssociation}" th:object="${association}">
	<input type="hidden" class="form-control" name="id_association">
	<div class="flex-row">
		<div class="flex-col">
			<label class="form-label">Conducteur</label>
		 	<select class="form-select" aria-label="Default select example" name="conducteur">
			  	<option th:each="conducteur:${allConducteurs}" th:value="${conducteur.id_conducteur}" th:text="${conducteur.toStringResume()}"></option>
			</select>
		</div>
		<div class="flex-col">
			<label class="form-label">Vehicule</label>
			 <select class="form-select" aria-label="Default select example" name="vehicule">
			  	<option th:each="vehicule:${allVehicules}" th:value="${vehicule.id_vehicule}" th:text="${vehicule.toStringResume()}"></option>
			</select>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Ajouter</button>
</form> 
<p>Nombre Associations = <span th:text="${allAssociations.size}"></span> </p> 

<!-- LISTE CONDUCTEUR SANS VEHICULE -->
<h1>Conducteurs sans Véhicule</h1>
<div id="table_conducteur">
	<table class="listeRead">
		<tr>
			<th>Id_conducteur</th>
			<th>Prenom</th>
			<th>Nom</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
		<tr th:each="csv:${conducteurSansVehicule}">
			<td th:text="${csv.id_conducteur}"></td>
			<td th:text="${csv.prenom}"></td>
			<td th:text="${csv.nom}"></td>
			<td>
				<a class="btn btn-info" th:href="@{/updateConducteur/{id}(id=${csv.id_conducteur})}">
					<img src="Paint_icon-icons.com_55521.png" width="30px">
				</a>
			</td>
			<td>
				<a class="btn btn-danger" th:href="@{/deleteConducteur/{id}(id=${csv.id_conducteur})}">
					<img src="19384-bubka-TrashEmpty_vista.png" width="30px">
				</a>
			</td>
		</tr>
	</table>
</div>
<p>Conducteurs sans Véhicule = <span th:text="${conducteurSansVehicule.size}"></span> </p> 

<!-- LISTE VEHICULE SANS CONDUCTEUR-->
<h1>Véhicules sans conducteur</h1>
<div id="table_conducteur">
	<table class="listeRead">
		<tr>
			<th>Id_Vehicule</th>
			<th>Marque</th>
			<th>Modele</th>
			<th>Couleur</th>
			<th>Immatriculation</th>
			<th>Modification</th>
			<th>Suppression</th>
		</tr>
		<tr th:each="vsc:${vehiculeSansConducteur}">
			<td th:text="${vsc.id_vehicule}"></td>
			<td th:text="${vsc.marque}"></td>
			<td th:text="${vsc.modele}"></td>
			<td th:text="${vsc.couleur}"></td>
			<td th:text="${vsc.immatriculation}"></td>
			<td>
				<a class="btn btn-info" th:href="@{/updateVehicule/{id}(id=${vsc.id_vehicule})}">
					<img src="Paint_icon-icons.com_55521.png" width="30px">
				</a>
			</td>
			<td>
				<a class="btn btn-danger" th:href="@{/deleteVehicule/{id}(ide=${vsc.id_vehicule})}">
					<img src="19384-bubka-TrashEmpty_vista.png" width="30px">
				</a>
			</td>
		</tr>
	</table>
</div> 
<p>Nombre Véhicules sans conducteur = <span th:text="${vehiculeSansConducteur.size}"></span> </p> 

 <!--  -->
<div th:replace="fragment/footer::footer"></div>